.column {
  display: flex;
  flex-direction: column;
  background-color: #e3f3ff;
  margin: 0 0.5rem;
  padding: 0 1rem;
  width: 30%;
  height: 90vh;
  border: 1px solid grey;
  border-radius: 2px;
}

.title {
  margin: 1.3rem 0;
  font-size: large;
  text-align: center;
  display: block;
  border-bottom: 1px solid black;
  padding-bottom: 1rem;
}
